.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  padding-bottom: 60pt;
}

.contactButton{
  width: 100%;
}

.contactButtonContainer{
  animation: 0.2s ease-out 0s 1 zoominout;
  width: 60%;
  max-width: 300pt;
  margin-bottom: 10pt;
}

@keyframes zoominout {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.1,1.1);
  }
  100% {
      transform: scale(1,1);
  }
}
