.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  padding-bottom: 60pt;
}

.iconsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  animation: 0.3s ease-out 0s 1 rotate;
  height: 30pt;
  width: 30pt;
  margin: 5pt;
  padding: 10pt;
  background-color: #346CC6;
  border-radius: 50%;
}

.title{
  padding: 10pt;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}

}
